@model BookDisplayModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="my-4">
<form asp-action="Index" class="row row-cols-lg-auto g-3 align-items-center">


  <div class="col-12">
    <label class="visually-hidden" for="genreId">Genres</label>
     
    <select class="form-select" id="genreId" name="genreId">
      <option selected>Genre</option>
      @foreach (var i in Model.Genres)
       {
      <option selected="@(i.Id==Model.genreId)" value="@i.Id">@i.GenreName</option>                    
       }

    </select>
  </div>

    <div class="col-12">
    <label class="visually-hidden" for="sTerm">Search by title</label>
    <div class="input-group">
      <div class="input-group-text"></div>
      <input type="text" class="form-control" value="@Model.sTerm" id="inlineFormSelectPref" name="sTerm" placeholder="Search by title">
    </div>
  </div>

  <div class="col-12">
    <button type="submit" class="btn btn-primary">Search</button>
    <button type="reset" class="btn btn-dark">Reset</button>
    <a href="/Home/Index" class="btn btn-dark">Reset</a>
  </div>
</form>

<div class="w-100 mt-2 d-flex flex-wrap">
    @foreach (var i in Model.Books){
<div class="card mx-3 mb-4" style="width: 20rem;">
             @if (string.IsNullOrEmpty(i.Image))
                {
                  <img style="width:100%;height:200px" src="/Images/main.jpg" class="card-img-top" alt="...">
                }
              else
                {
                  <img style="width:100;height:200px" src="https://picsum.photos/200/200.jpg" class="card-img-top" alt="...">
                }
    <div class="card-body">
        <h5 class="card-title">@i.BookName</h5>
   
         <p class="card-text">
             Genre: @i.GenreName<br/>
             Author: @i.AuthorName<br/>
             Price: @i.Price<br/>
         </p>


        <button type="button" onclick="add(@i.Id)" class="btn btn-primary">Add To Cart</button>
    </div>
</div>
}
</div>
@section Scripts
{
    <script>
        alert("hello");
       async function add(bookId)
        {
            try{
            var response = await fetch('/test/AddItem?bookId=${bookId}');
            if(response.status==200){
            var result = await response.json();
                console.log(result);

               }
            }
            catch(er)
            {
              console.log(er);
            }
        }
    </script>
}