@model IEnumerable<Order>
@{
	ViewData["Title"] = "GetUserCart";
}
<div style = "width:90%;"; margin:auto class="mx-2" >
		<a href="/Identity/Account/Manage" class="btn btn-dark mx-2" >Back</a>
		<h5>My Orders</h5>
	@if (Model != null && Model.Count() > 0)
	{
			<table class="table table-striped">
				<tr>
					<th>OrderDate</th>
					<th>OrderStatus</th>
				</tr>
			@foreach (var i in Model)
			{
						<tr>
							<td>@i.CreateDate.ToString("dd-mm-yyyy")</td>
							<td>@i.OrderStatus.StatusName</td>


						</tr>

				@if (i.OrderDetail != null && i.OrderDetail.Count > 0)
				{
					<tr>
						<td>

				    <table class="table table-striped">
					<tr>
						<tr>
						<td>
							Total:
						</td>
						<td>
						@(i.OrderDetail.Select(item => item.Book.Price * item.Quantity).Sum())
							</tr>
								<th>Book</th>
								<th>Image</th>
								<th>Genre</th>
								<th>Unit Price(USD)</th>
								<th>Total Price</th>
							</tr>
								@foreach (var j in i.OrderDetail)
								{
								<tr>
									<td>@j.Book.BookName</td>
									<td>
								@if (string.IsNullOrEmpty(j.Book.Image))
									{
									  <img style="width:100px; height:100px" src="/images/main.png"/>
									}
								else
									{
									<img style="width:100px; height:100px" src="/images/@j.Book.Image"/>
									// get image same as database

									}

								</td>
								<td>@j.Book.Genre.GenreName</td>
								<td>@j.Book.Price X @j.Quantity</td>
								<td>@(j.Book.Price * @j.Quantity)</td>

								</tr>

								}
					</table>

					</td>
					</tr>
				}

			}
			</table>



	}
	else
	{
					<h5>No Orders </h5>
	}
</div>


